<div>

    <div class="menuButton" id="menuToggle">
        <button type="button" class="btn btn-link" (click)="show()"><i class="fa fa-bars"></i></button>
    </div>

    <div class="sidebar" id="menu">
        <div class="">
            <div class="container ">
                <div class="row">
                    <div class="offset-md-10 offset-10  col-md-1 text-center"><i class="far fa-times-circle " (click)="hide()"></i></div>
                </div>
                <div class="row align-bottom">
                    <div class="col-md-12 text-center mt-5">my work</div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center mt-5">about me</div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center mt-5">contact me</div>
                </div>
            </div>
        </div>




    </div>
</div>